<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="classes" thread-count="5" name="MyTestSuite">
    <test name="Submit Order Tests">
        <classes>
            <class name="com.selveng.tests.SubmitOrderTest">
<!--                <methods>-->
<!--                    <include name="deleteAllOrders"/>-->
<!--                </methods>-->
            </class>

        </classes>
    </test>
    <!--    <test name="StandAlone Tests">-->
    <!--        <classes>-->
    <!--            <class name="com.selveng.tests.StandAloneTest"/>-->
    <!--        </classes>-->
    <!--    </test>-->
        <test name="Error Validation Tests">
            <classes>
                <class name="com.selveng.tests.ErrorValidationTests"/>
            </classes>
        </test>
</suite>